.App {
  text-align: center;
}

.darkMode{
  background-color: rgb(48, 42, 42);
  color: #999;
  height: 100%;
  transition: background-color 0.25s ease-in-out;
}

.lightMode{
  background-color: rgb(255, 255, 255);
  color: #333;
  height: 100%;
  transition: background-color 0.25s ease-in-out;
}
